Repository carhartl/k8s-playground: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, yamllint, golangci

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    prettier:
      tags: style
      glob: "*.{md,yml,yaml}"
      run: prettier --check {staged_files}
    yamllint:
      tags: lint
      glob: "*.{yml,yaml}"
      run: |
        yamllint -d "{extends: default, rules: {line-length: {max: 120}}}" {staged_files}
    golangci:
      tags: lint
      root: app/
      glob: "*.go"
      run: golangci-lint run ./...

Ensure correct ns for deletion via kubectl as well
  skaffold.yaml
Due: prettier, yamllint

Bump kube-prometheus-stack from 44.2.1 to 45.27.2
  skaffold.yaml
Due: prettier, yamllint

Add instructions regarding accessing Grafana
  README.md
Due: prettier

Automate port-forwarding to Grafana w/ skaffold
  skaffold.yaml
Due: prettier, yamllint

Add Kyverno dashboard to Grafana
  skaffold.yaml
Due: prettier, yamllint

Remove unnecessary exclusion from pod security
  skaffold.yaml
Due: prettier, yamllint

Apply prettier to remaining sources
  .gitignore
  sandbox/Dockerfile
Due: none

Add kuberhealthy for synthetic monitoring
  README.md
  skaffold.yaml
Due: prettier, yamllint

Add Kuberhealthy Grafana dashboard
  infra/manifests/base/kuberhealthy-dashboard-cm.yaml
  infra/manifests/base/kustomization.yaml
  infra/manifests/base/kyverno-dashboard-cm.yaml
  skaffold.yaml
Due: prettier, yamllint

Add note regarding provisioning GKE cluster
  README.md
Due: prettier

Fix Yugabyte no longer being schedulable
  infra/manifests/dev/database-init-job.yaml
  infra/manifests/dev/deployment.yaml
Due: prettier, yamllint

Remove overlooked, now redundant ns declaration
  infra/manifests/dev/rbac-service-account.yaml
Due: prettier, yamllint

Revise resource requests/limits
  infra/manifests/dev/database-init-job.yaml
  infra/manifests/dev/deployment.yaml
Due: prettier, yamllint

Add synthetic monitoring for people api
  infra/manifests/dev/kustomization.yaml
  infra/manifests/dev/people-api-check.yaml
Due: prettier, yamllint

Attempt to fix errors when running golangci-lint
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Tweak yamllint config - leave comments alone
  lefthook.yml
Due: prettier, yamllint

Upgrade Kubernetes/kubectl version
  .tool-versions
  README.md
Due: prettier

Avoid pointers when not strictly necessary
  app/internal/core/services/peoplesrv/service.go
  app/internal/handlers/peoplehdl/http.go
  app/internal/repositories/peoplerepo/yugabyte_repository.go
Due: golangci

Tidy naming and order for clarity + consistency
  app/internal/core/services/peoplesrv/service.go
  app/internal/handlers/peoplehdl/http.go
  app/internal/repositories/peoplerepo/yugabyte_repository.go
Due: golangci

Specify default namespace for kubectl deployment
  skaffold.yaml
Due: prettier, yamllint

Update to use latest Skaffold api
  skaffold.yaml
Due: prettier, yamllint

Add Argo CD installation
  infra/manifests/argocd/kustomization.yaml
  infra/manifests/argocd/namespace.yaml
  skaffold.yaml
Due: prettier, yamllint

Use remote config for lefthook
  lefthook.yml
Due: prettier, yamllint

Install Argo CD via helm chart
  infra/manifests/argocd/kustomization.yaml
  infra/manifests/argocd/namespace.yaml
  skaffold.yaml
Due: prettier, yamllint

Ensure CPU + memory limits propagate to Go runtime
  infra/manifests/dev/deployment.yaml
Due: prettier, yamllint

Bump Go version
  app/Dockerfile
  app/go.mod
  data/Dockerfile
  data/go.mod
  sandbox/Dockerfile
  sandbox/go.mod
Due: none

Update Git hooks installation instructions
  README.md
Due: prettier

Switch to Echo framework for application
  app/go.mod
  app/go.sum
  app/internal/handlers/peoplehdl/http.go
  app/internal/handlers/peoplehdl/http_test.go
  app/main.go
  sandbox/main.go
Due: golangci

Remove now obsolete lefthook config + docs
  README.md
  lefthook.yml
Due: prettier, yamllint

Add Devbox setup for main dependencies
  README.md
  devbox.json
  devbox.lock
Due: prettier

Add Git hooks setup via Devbox
  devbox.json
  devbox.lock
Due: none

Load kubectl completion automatically in Devbox
  devbox.json
Due: none

Bring in Lefthook env via Nix flake
  devbox.json
  devbox.lock
Due: none
