Repository carhartl/k8s-playground: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, yamllint, golangci

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    prettier:
      tags: style
      glob: "*.{md,yml,yaml}"
      run: prettier --check {staged_files}
    yamllint:
      tags: lint
      glob: "*.{yml,yaml}"
      run: |
        yamllint -d "{extends: default, rules: {line-length: {max: 120}}}" {staged_files}
    golangci:
      tags: lint
      root: app/
      glob: "*.go"
      run: golangci-lint run ./...

Move fake data generation into db init
  data/go.mod
  data/go.sum
  data/main.go
  faker/go.mod
  faker/go.sum
  faker/main.go
Due: none

Set up hook to run in data directory as well
  lefthook.yml
Due: prettier, yamllint

Add dependabot setup for version updates
  .github/dependabot.yml
Due: prettier, yamllint

Automate cleaning up database init job
  infra/manifests/overlays/dev/database-init-job.yaml
Due: prettier, yamllint

Fix POST handler test
  app/internal/handlers/peoplehdl/http_test.go
Due: golangci

Add start of CI pipeline
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Add badge for pipeline workflow
  README.md
Due: prettier

Fix directory references in pipeline steps
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Add linting for data import code in pipeline
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Cache go dependencies in pipeline
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Fix dependency file reference for go setup
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Revert "Add linting for data import code in pipeline"
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Fix tool names
  README.md
Due: prettier

Externalize database connection config
  app/main.go
  data/main.go
  infra/manifests/overlays/dev/deployment.yaml
Due: prettier, yamllint, golangci

Remove unneeded fake data in version control
  .gitignore
  data/people.csv
Due: none

Add vulnerability scan to pipeline
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Provide expected context for docker build
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Pass fully qualified image name to docker build
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Revert "Pass fully qualified image name to docker build"
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Fix image reference passed to Trivy scanner
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Reference fully qualified image name, consistently
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Export built image to docker
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Ignore unfixed vulnerabilities
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Specify build dependency for scan job
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Address surfaced CVE
  app/Dockerfile
  app/go.mod
  app/go.sum
Due: none

Add container image publishing to pipeline
  .github/workflows/pipeline.yml
Due: prettier, yamllint

Add periodic vulnerability scan workflow
  .github/workflows/vulnerability-scan.yml
Due: prettier, yamllint

Fix case in workflow name
  .github/workflows/vulnerability-scan.yml
Due: prettier, yamllint

Add badge for vulnerability scan status
  README.md
Due: prettier

Fix database init docker build
  data/Dockerfile
Due: none

Address CVE in database init build
  data/Dockerfile
  data/go.mod
Due: none

Label manually build container image
  data/Dockerfile
Due: none

Update instructions for running minikube
  README.md
Due: prettier

Add missing connection details for init job
  infra/manifests/overlays/dev/database-init-job.yaml
Due: prettier, yamllint

Fix database init job running in scratch image
  data/main.go
Due: none

Dry pod security context config slightly
  infra/manifests/overlays/dev/database-init-job.yaml
  infra/manifests/overlays/dev/deployment.yaml
Due: prettier, yamllint

Change image references
  infra/manifests/overlays/dev/database-init-job.yaml
  infra/manifests/overlays/dev/deployment.yaml
  skaffold.yaml
Due: prettier, yamllint

Tidy up modules once more
  app/go.mod
  app/go.sum
  data/go.mod
Due: none

Add tests for repository
  app/go.mod
  app/go.sum
  app/internal/repositories/peoplerepo/yugabyte_repository_test.go
Due: golangci

Refactor repo tests to use suite from testify
  app/internal/repositories/peoplerepo/yugabyte_repository_test.go
Due: golangci
